# 기초 통계
## 필요 라이브러리 import

In [1]:
import pandas as pd
import numpy as np

## 데이터셋 생성

In [2]:
data = pd.DataFrame( {'score1' : [99, 65, 79, 94, 87],
                      'score2' : [79, 85, 79, 93, 97],
                      'score3' : [59, np.nan, 39, np.nan, np.nan],
                      'weight' : [5.43, 0.12, 10.44, 9.33, 4.22],
                      'diff' : [-2.1, 5, 2, -5.4, -3.3],
                      'place' : ['A', 'B', 'A', 'A', 'B']} )

data

   score1  score2  score3  weight  diff place
0      99      79    59.0    5.43  -2.1     A
1      65      85     NaN    0.12   5.0     B
2      79      79    39.0   10.44   2.0     A
3      94      93     NaN    9.33  -5.4     A
4      87      97     NaN    4.22  -3.3     B

## 기술 통계
### pnadas 함수를 이용한 요약 정보
info() : 컬럼 이름, 결측치를 제외한 값 카운트, 타입 확인

describe() : 데이터 프레임 컬럼별 카운트, 평균, 표준편차, 최소값, 사분위수, 최대값 확인
  - 수치형 변수 요약 정보 : describe()
  - 범주형 변수 요약 정보 : describe(include='object')
  - 전체 변수의 요약 정보 : describe(include='all')

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   score1  5 non-null      int64
 1   score2  5 non-null      int64
 2   score3  2 non-null      float64
 3   weight  5 non-null      float64
 4   diff    5 non-null      float64
 5   place   5 non-null      object
dtypes: float64(3), int64(2), object(1)
memory usage: 368.0+ bytes

In [4]:
data.describe()

         score1     score2     score3     weight      diff
count   5.00000   5.000000   2.000000   5.000000  5.000000
mean   84.80000  86.600000  49.000000   5.908000 -0.760000
std    13.38656   8.173127  14.142136   4.148128  4.200357
min    65.00000  79.000000  39.000000   0.120000 -5.400000
25%    79.00000  79.000000  44.000000   4.220000 -3.300000
50%    87.00000  85.000000  49.000000   5.430000 -2.100000
75%    94.00000  93.000000  54.000000   9.330000  2.000000
max    99.00000  97.000000  59.000000  10.440000  5.000000

In [5]:
data.describe(include='object')

       place
count      5
unique     2
top        A
freq       3

In [7]:
data.describe(include='all')

          score1     score2     score3     weight      diff place
count    5.00000   5.000000   2.000000   5.000000  5.000000     5
unique       NaN        NaN        NaN        NaN       NaN     2
top          NaN        NaN        NaN        NaN       NaN     A
freq         NaN        NaN        NaN        NaN       NaN     3
mean    84.80000  86.600000  49.000000   5.908000 -0.760000   NaN
std     13.38656   8.173127  14.142136   4.148128  4.200357   NaN
min     65.00000  79.000000  39.000000   0.120000 -5.400000   NaN
25%     79.00000  79.000000  44.000000   4.220000 -3.300000   NaN
50%     87.00000  85.000000  49.000000   5.430000 -2.100000   NaN
75%     94.00000  93.000000  54.000000   9.330000  2.000000   NaN
max     99.00000  97.000000  59.000000  10.440000  5.000000   NaN

### 중심경향치 확인
  - mean() : 산술평균
  - trim_mean() : 절사평균
  - np.average(weight=) : 가중평균
  - median() : 중앙값
  - mode() : 최빈수

In [29]:
import warnings
warnings.filterwarnings(action='ignore', category=FutureWarning)

In [38]:
# 한 변수의 평균
print(f'한 변수: {data["score1"].mean()}')

# 데이터프레임 전체 평균
print(f'\n전체: \n{data.mean()}')

# 절사평균
from scipy.stats import trim_mean
print(f'\nscore2의 절사평균: {trim_mean(data["score2"], 0.1)}')  # 양쪽 끝에서 10%를 제거한 평균값

# 가중평균
import numpy as np
print(f'\nscore2의 가중평균: {np.average(data["score2"], weights=data["weight"])}')

한 변수: 84.8

전체:
score1    84.800
score2    86.600
score3    49.000
weight     5.908
diff      -0.760
dtype: float64

score2의 절사평균: 86.6

score2의 가중평균: 86.01760324983074

In [39]:
# 중앙값
## 데이터 개수 : 홀수
print(data['score2'].median())

## 데이터 개수 : 짝수
x = [100, 600, 100, 200, 400, 500]
print(np.median(x))

85.0
300.0

In [40]:
# 최빈값
data['score2'].mode()

0    79
Name: score2, dtype: int64

### 산포도
  - max() - min() : 범위 ( range )
  - var() : 분산(variance)
  - std() : 표준편차 (standard deviation)
  - quantile(0.75) - quantile(0.25) : 사분위수 범위

In [41]:
# 범위
data['score2'].max() - data['score2'].min()

18

In [42]:
# 분산
print(f'score2의 분산 : {data["score2"].var()}')
# 표준편차
print(f'score2의 표준편차 : {data["score2"].std()}')

score2의 분산 : 66.8
score2의 표준편차 : 8.17312669668102

In [44]:
# 사분위수 범위
print(data["score2"].quantile(0.75) - data["score2"].quantile(0.25))

14.0

In [47]:
# 변동 계수
# 표준편차를 평균으로 나눈 값
cv1 = data['score1'].std() / data['score1'].mean()
cv2 = data['score2'].std() / data['score2'].mean()

print(f'score1의 CV계수 : {np.round(cv1, 3)}')
print(f'score2의 CV계수 : {np.round(cv2, 3)}')

score1의 CV계수 : 0.158
score2의 CV계수 : 0.094

### 비대칭도
- skew() : 왜도
- kurtosis() : 첨도

In [48]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)   # FutureWarning 제거
import pandas as pd
import numpy as np
from scipy import stats
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

import os
if os.name == 'nt':
    font_family = 'Malgun Gothic'

sns.set(font=font_family, rc={'axes.unicode_minus' : False})

In [49]:
# 왜도 산출
from scipy.stats import skew

skew_list1 = [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 3, 4, 5]
skew_list2 = [1, 2, 3, 3, 4, 4, 5, 5, 5, 5, 6, 6, 6, 6, 6, 6, 6, 6]

print(skew(skew_list1))
print(skew(skew_list2))

1.6656293067949786
-1.0422210554570965

In [ ]:
# 왜도 시각화
plt.figure(figsize=(12, 6))
plt.subplot(1, 2, 1)
dist_plot = sns.distplot(skew_list1)
plt.title('우측 꼬리 분포, 왜도 > 0', fontsize=16)

plt.subplot(1, 2, 2)
dist_plot = sns.distplot(skew_list2)
plt.title('좌측 꼬리 분포, 왜도 < 0', fontsize=16)

plt.show()

In [51]:
# 첨도 산출
from scipy.stats import kurtosis

kur_list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
kur_list2 = [1, 2, 3, 4, 5, 5, 5, 5, 5, 5, 5, 5,
             5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5,
             5, 6, 7, 8, 9, 10]

print(kurtosis(kur_list1))
print(kurtosis(kur_list2))

-1.2242424242424244
2.351887069895106

In [ ]:
# 첨도 시각화
plt.figure(figsize=(20, 6))
plt.subplot(1, 2, 1)
dist_plot = sns.distplot(kur_list1)
plt.title('첨도 < 0', fontsize=16)

plt.subplot(1, 2, 2)
dist_plot = sns.distplot(kur_list2)
plt.title('첨도 > 0', fontsize=16)

plt.show()