In [41]:
def read_sql_until(until:int):
    with open('postgreSQL_remind.sql') as f:
        for _ in range(until):
            print(f.readline(), sep='')

In [42]:
read_sql_until(7)

select count(*) "전체건수",

	   count(position) "직책건수",

	   count(distinct position) "직책종류",

	   min(salary) "최소",

	   max(salary) "최대",

	   avg(salary) "평균"

from cslee.tb_emp;

In [37]:
a = str(read_sql_until(7))

select count(*) "전체건수",

	   count(position) "직책건수",

	   count(distinct position) "직책종류",

	   min(salary) "최소",

	   max(salary) "최대",

	   avg(salary) "평균"

from cslee.tb_emp;

In [23]:
import sqlalchemy
import pandas as pd

In [24]:
engine = sqlalchemy.create_engine("postgresql://postgres:qwer1234@localhost:5432/postgres")

In [40]:
pd.read_sql('select count(*) "전체건수",\
	   count(position) "직책건수",\
	   count(distinct position) "직책종류",\
	   min(salary) "최소",\
	   max(salary) "최대",\
	   avg(salary) "평균"\
from cslee.tb_emp;', engine)

   전체건수  직책건수  직책종류        최소         최대            평균
0    29    29     6  32300000  225996000  8.324772e+07

In [43]:
import os
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)   # FutureWarning 제거
import pandas as pd
import numpy as np

from sklearn.preprocessing import MinMaxScaler  #min-max 스케일링
from sklearn.preprocessing import StandardScaler   # 표준화
from scipy import stats

import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

import os
if os.name == 'nt':
    font_family = 'Malgun Gothic'

sns.set(font=font_family, rc={'axes.unicode_minus' : False})

In [44]:
x = np.arange(1, 10001)
y = np.arange(10001, 20001)

In [48]:
%%time
z = np.zeros_like(x)
for i in range(10000):
    z[i] = x[i] + y[i]
    
# 셀 코드 실행 시간 측정하는 Ipython 매직 명령어

CPU times: total: 0 ns
Wall time: 5.18 ms

In [49]:
a = np.array([[1, 2, 3, 4],
              [46, 99, 100, 71],
              [81, 59, 90, 100]])

In [55]:
a.sort(axis=1)

In [57]:
a.sort(axis=0)

In [58]:
a

array([[  1,   2,   3,   4],
       [ 46,  71,  90, 100],
       [ 59,  81,  99, 100]])

In [66]:
a[:3, :][0][3]

4

In [67]:
a[0][3]

4

In [68]:
a[2, 1]

81

In [69]:
a[2][1]

81

In [70]:
a[0, 3]

4

In [72]:
a[1:, 2]

array([90, 99])

In [75]:
a.argsort(axis=0)

array([[0, 0, 0, 0],
       [1, 1, 1, 1],
       [2, 2, 2, 2]], dtype=int64)

In [76]:
a.argsort(axis=1)

array([[0, 1, 2, 3],
       [0, 1, 2, 3],
       [0, 1, 2, 3]], dtype=int64)

100