In [1]:
import numpy as np
import pandas as pd

In [9]:
np.random.seed(10)

In [34]:
temp1 = pd.DataFrame(np.linspace(1000, 3000, 3633), columns=['Species'])

In [53]:
temp2 = pd.DataFrame(np.arange(3633), columns=['Class'])

In [52]:
np.random.shuffle(np.arange(3633))

In [56]:
test1 = pd.concat([temp1, temp2], axis=1)

In [57]:
test1

          Species  Class
0     1000.000000      0
1     1000.550661      1
2     1001.101322      2
3     1001.651982      3
4     1002.202643      4
...           ...    ...
3628  2997.797357   3628
3629  2998.348018   3629
3630  2998.898678   3630
3631  2999.449339   3631
3632  3000.000000   3632

[3633 rows x 2 columns]

In [60]:
test2 = pd.DataFrame({'D': np.linspace(0.05, 0.5, 10),
                      'CF' : np.linspace(0.1, 0.8, 10)})

In [61]:
test2

      D        CF
0  0.05  0.100000
1  0.10  0.177778
2  0.15  0.255556
3  0.20  0.333333
4  0.25  0.411111
5  0.30  0.488889
6  0.35  0.566667
7  0.40  0.644444
8  0.45  0.722222
9  0.50  0.800000

In [73]:
test2['D'] * test1['Class'].head(11)

0     0.0
1     0.1
2     0.3
3     0.6
4     1.0
5     1.5
6     2.1
7     2.8
8     3.6
9     4.5
10    NaN
dtype: float64