In [2]:
from selenium.webdriver import chrome
from selenium import webdriver
import time
import os
import re

In [18]:
options = webdriver.ChromeOptions()
options.add_argument("--start-maximized");    # 브라우저 열 때 최대화
browser = webdriver.Chrome('chromedriver', options=options)

In [19]:
url = 'https://www.daangn.com/search/%EA%B4%91%EC%A3%BC%20%EC%A0%84%EB%8F%99%ED%9C%A0%EC%B2%B4%EC%96%B4'
browser.get(url)
time.sleep(3)

In [20]:
trade_list = []

In [21]:
try:
    try:
        for _ in range(20):
            browser.find_element('xpath', '//*[@id="result"]/div[1]/div[2]').click()
            time.sleep(0.25)
    except:
        for n in range(1, 301):
            log = browser.find_element('xpath', '//*[@id="flea-market-wrap"]/article[{}]/a/div[2]/p[1]'.format(n)).text
            trade_list.append(log)
            time.sleep(0.1)
except:
    print(f'{len(trade_list)}건 조회 완료')

142건 조회 완료

In [23]:
import pandas as pd
df = pd.DataFrame(trade_list, columns=['거래 장소'])

In [24]:
df

          거래 장소
0     광주 남구 진월동
1     광주 남구 행암동
2     광주 서구 쌍촌동
3     광주 북구 신용동
4    광주 광산구 장덕동
..          ...
137  광주 남구 봉선1동
138   광주 동구 산수동
139  광주 광산구 신창동
140   광주 북구 동림동
141  광주 서구 금호1동

[142 rows x 1 columns]

In [29]:
df.describe(include='object')

             거래 장소
count          142
unique          47
top     광주 서구 농성2동
freq             6

In [30]:
df.to_csv('당근마켓_전동휠체어_거래기록.csv', encoding='euc-kr')