In [41]:
def read_sql_until(until:int):
    with open('postgreSQL_remind.sql') as f:
        for _ in range(until):
            print(f.readline(), sep='')

In [42]:
read_sql_until(7)

select count(*) "전체건수",

	   count(position) "직책건수",

	   count(distinct position) "직책종류",

	   min(salary) "최소",

	   max(salary) "최대",

	   avg(salary) "평균"

from cslee.tb_emp;

In [37]:
a = str(read_sql_until(7))

select count(*) "전체건수",

	   count(position) "직책건수",

	   count(distinct position) "직책종류",

	   min(salary) "최소",

	   max(salary) "최대",

	   avg(salary) "평균"

from cslee.tb_emp;

In [23]:
import sqlalchemy
import pandas as pd

In [24]:
engine = sqlalchemy.create_engine("postgresql://postgres:qwer1234@localhost:5432/postgres")

In [40]:
pd.read_sql('select count(*) "전체건수",\
	   count(position) "직책건수",\
	   count(distinct position) "직책종류",\
	   min(salary) "최소",\
	   max(salary) "최대",\
	   avg(salary) "평균"\
from cslee.tb_emp;', engine)

   전체건수  직책건수  직책종류        최소         최대            평균
0    29    29     6  32300000  225996000  8.324772e+07

In [ ]:
{